@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Square+Peg&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Square Peg", cursive;
  font-size: 30px;
}
/* THE MOVING BACKGROUND GRADIENT EFFECT */
body {
  justify-content: space-between;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* MAIN APPLICATION */
h1 {
  font-size: calc(40px + 3vw);
  color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.waveContainer {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 60vh;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_box::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}

.input_box {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  width: 40vw;
  height: 50px;
  border: none;
  border-radius: 5px;
}
.input_box:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input_submit {
  margin-top: 15px;
  transform: scale(1.5);
  border: none;
  background: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  transition: 0.1s ease all;
}
.input_submit:hover {
  transform: scale(1.4);
}
.todos_text {
  font-size: 50px;
  color: whitesmoke;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
  color: white;
}
p {
  display: inline-block;
}
.scaler {
  transition: 0.1s ease all;
}
.scaler:hover {
  transform: scale(1.4);
}
/* WAVES ANIMATION */
.waves {
  margin-bottom: 0;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}
@media only screen and (max-width: 770px) {
  h1 {
    font-size: 55px !important;
  }
  .todos_text {
    font-size: 35px;
  }
  .input_box {
    width: 90vw;
  }
  .waveContainer {
    bottom: 0;
    margin-top: 70vh;
    transform: scaleY(2);
  }
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
